<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.db.dao.follow.TFollowMapper" >
    <resultMap id="BaseResultMap" type="com.shu.db.model.follow.TFollow" >
        <id column="followId" property="followid" jdbcType="VARCHAR" />
        <result column="fanId" property="fanid" jdbcType="VARCHAR" />
        <result column="hufen" property="hufen" jdbcType="INTEGER" />
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
        <result column="updateUser" property="updateuser" jdbcType="TIMESTAMP" />
        <result column="isDelete" property="isdelete" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        followId, fanId, hufen, createTime, updateTime, updateUser, isDelete
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_follow
        where followId = #{followid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_follow
        where followId = #{followid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.shu.db.model.follow.TFollow" >
        insert into t_follow (followId, fanId, hufen,
        createTime, updateTime, updateUser,
        isDelete)
        values (#{followid,jdbcType=VARCHAR}, #{fanid,jdbcType=VARCHAR}, #{hufen,jdbcType=INTEGER},
        #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=TIMESTAMP},
        #{isdelete,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.shu.db.model.follow.TFollow" >
        insert into t_follow
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="followid != null" >
                followId,
            </if>
            <if test="fanid != null" >
                fanId,
            </if>
            <if test="hufen != null" >
                hufen,
            </if>
            <if test="createtime != null" >
                createTime,
            </if>
            <if test="updatetime != null" >
                updateTime,
            </if>
            <if test="updateuser != null" >
                updateUser,
            </if>
            <if test="isdelete != null" >
                isDelete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="followid != null" >
                #{followid,jdbcType=VARCHAR},
            </if>
            <if test="fanid != null" >
                #{fanid,jdbcType=VARCHAR},
            </if>
            <if test="hufen != null" >
                #{hufen,jdbcType=INTEGER},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null" >
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateuser != null" >
                #{updateuser,jdbcType=TIMESTAMP},
            </if>
            <if test="isdelete != null" >
                #{isdelete,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shu.db.model.follow.TFollow" >
        update t_follow
        <set >
            <if test="fanid != null" >
                fanId = #{fanid,jdbcType=VARCHAR},
            </if>
            <if test="hufen != null" >
                hufen = #{hufen,jdbcType=INTEGER},
            </if>
            <if test="createtime != null" >
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null" >
                updateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateuser != null" >
                updateUser = #{updateuser,jdbcType=TIMESTAMP},
            </if>
            <if test="isdelete != null" >
                isDelete = #{isdelete,jdbcType=INTEGER},
            </if>
        </set>
        where followId = #{followid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shu.db.model.follow.TFollow" >
        update t_follow
        set fanId = #{fanid,jdbcType=VARCHAR},
        hufen = #{hufen,jdbcType=INTEGER},
        createTime = #{createtime,jdbcType=TIMESTAMP},
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
        updateUser = #{updateuser,jdbcType=TIMESTAMP},
        isDelete = #{isdelete,jdbcType=INTEGER}
        where followId = #{followid,jdbcType=VARCHAR}
    </update>


    <select id="selectListByParam" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_follow
        where 1 = 1
        <if test="pojo != null and pojo.followid != null and pojo.followid != ''">
            and followId = #{pojo.followid,jdbcType=VARCHAR}
        </if>
        <if test="pojo != null and pojo.fanid != null and pojo.fanid != ''">
            and fanId = #{pojo.fanid,jdbcType=VARCHAR}
        </if>
        <if test="pojo != null and pojo.hufen != null">
            and hufen = #{pojo.hufen,jdbcType=INTEGER}
        </if>
        <if test="pojo != null and pojo.isdelete != null">
            and isdelete = #{pojo.isDelete,jdbcType=INTEGER}
        </if>
        <if test="orderObj != null">
            order by
            <foreach collection="orderObj.orders" item="obj" separator=",">
                ${obj.orderName}  ${obj.orderSort}
            </foreach>
        </if>
        <if test="pager != null">
            limit ${pager.start}, ${pager.pageSize}
        </if>
    </select>

    <select id="selectCountByParam" resultType="int">
        select count(1)
        from t_follow
        where 1 = 1
        <if test="pojo != null and pojo.followid != null and pojo.followid != ''">
            and followId = #{pojo.followid,jdbcType=VARCHAR}
        </if>
        <if test="pojo != null and pojo.fanid != null and pojo.fanid != ''">
            and fanId = #{pojo.fanid,jdbcType=VARCHAR}
        </if>
        <if test="pojo != null and pojo.hufen != null">
            and hufen = #{pojo.hufen,jdbcType=INTEGER}
        </if>
        <if test="pojo != null and pojo.isdelete != null">
            and isdelete = #{pojo.isDelete,jdbcType=INTEGER}
        </if>
    </select>
</mapper>