<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.db.dao.messageText.MessageTextMapper" >
  <resultMap id="BaseResultMap" type="com.shu.db.model.messageText.MessageText" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sendId" property="sendid" jdbcType="VARCHAR" />
    <result column="sendType" property="sendtype" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="contents" property="contents" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="receiveType" property="receivetype" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateUser" property="updateuser" jdbcType="VARCHAR" />
    <result column="isDelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sendId, sendType, title, contents, type, receiveType, createTime, updateTime, 
    updateUser, isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_message_text
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_message_text
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shu.db.model.messageText.MessageText" >
    insert into t_message_text (id, sendId, sendType, 
      title, contents, type, 
      receiveType, createTime, updateTime, 
      updateUser, isDelete)
    values (#{id,jdbcType=VARCHAR}, #{sendid,jdbcType=VARCHAR}, #{sendtype,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{contents,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{receivetype,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.db.model.messageText.MessageText" >
    insert into t_message_text
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sendid != null" >
        sendId,
      </if>
      <if test="sendtype != null" >
        sendType,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="contents != null" >
        contents,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="receivetype != null" >
        receiveType,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sendid != null" >
        #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="sendtype != null" >
        #{sendtype,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contents != null" >
        #{contents,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="receivetype != null" >
        #{receivetype,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.db.model.messageText.MessageText" >
    update t_message_text
    <set >
      <if test="sendid != null" >
        sendId = #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="sendtype != null" >
        sendType = #{sendtype,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contents != null" >
        contents = #{contents,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="receivetype != null" >
        receiveType = #{receivetype,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.db.model.messageText.MessageText" >
    update t_message_text
    set sendId = #{sendid,jdbcType=VARCHAR},
      sendType = #{sendtype,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      contents = #{contents,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      receiveType = #{receivetype,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      isDelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectListByParam" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_message_text
    where 1 = 1
    <if test="pojo != null and pojo.id != null and pojo.id != ''">
      and id = #{pojo.id,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.sendid != null and pojo.sendid != ''">
      and sendid = #{pojo.sendid,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.sendtype != null">
      and sendtype = #{pojo.sendtype,jdbcType=INTEGER}
    </if>
    <if test="pojo != null and pojo.title != null and pojo.title != ''">
      and title = #{pojo.title,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.contents != null and pojo.contents != ''">
      and contents = #{pojo.contents,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.type != null">
      and type = #{pojo.type,jdbcType=INTEGER}
    </if>
    <if test="pojo != null and pojo.receivetype != null">
      and receivetype = #{pojo.receivetype,jdbcType=INTEGER}
    </if>
    <!--<if test="pojo != null and pojo.updateuser != null and pojo.updateuser != ''">-->
    <!--and updateuser = #{pojo.updateUser,jdbcType=VARCHAR}-->
    <!--</if>-->
    <if test="pojo != null and pojo.isdelete != null">
      and isdelete = #{pojo.isdelete,jdbcType=INTEGER}
    </if>
    <if test="orderObj != null">
      order by
      <foreach collection="orderObj.orders" item="obj" separator=",">
        ${obj.orderName}  ${obj.orderSort}
      </foreach>
    </if>
    <if test="pager != null">
      limit ${pager.start}, ${pager.pageSize}
    </if>
  </select>

  <select id="selectCountByParam" resultType="int">
    select count(1)
    from t_manager
    where 1 = 1
    <if test="pojo != null and pojo.id != null and pojo.id != ''">
      and id = #{pojo.id,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.sendid != null and pojo.sendid != ''">
      and sendid = #{pojo.sendid,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.sendtype != null">
      and sendtype = #{pojo.sendtype,jdbcType=INTEGER}
    </if>
    <if test="pojo != null and pojo.title != null and pojo.title != ''">
      and title = #{pojo.title,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.contents != null and pojo.contents != ''">
      and contents = #{pojo.contents,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.type != null">
      and type = #{pojo.type,jdbcType=INTEGER}
    </if>
    <if test="pojo != null and pojo.receivetype != null">
      and receivetype = #{pojo.receivetype,jdbcType=INTEGER}
    </if>
    <!--<if test="pojo != null and pojo.updateuser != null and pojo.updateuser != ''">-->
    <!--and updateuser = #{pojo.updateUser,jdbcType=VARCHAR}-->
    <!--</if>-->
    <if test="pojo != null and pojo.isdelete != null">
      and isdelete = #{pojo.isdelete,jdbcType=INTEGER}
    </if>
  </select>
</mapper>